server {
    server_name  mbfairsystem.org;
    access_log /var/log/nginx/domain.com.access.log;
    error_log /var/log/nginx/domain.com.error.log;
    listen       80;

    location / {
        root   /usr/home/admin/www/mbfairsystem;
    }
}
